<!doctype html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler mr-auto ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                 @Html.Partial("_Login")
                <ul class="navbar-nav ml-auto ">
                    @using (Html.BeginForm("Search","Home",FormMethod.Post,new {@class= "form-inline my-2 my-lg-0" }))
                    {



                        <input class="form-control mr-sm-2 ml-2 text-right" type="search" placeholder="ابحث هنا" aria-label="Search" name="searchName">

              
                    }
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="~/Home/Contact">اتصل بنا <i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#">حول الموقع <i class='fas fa-exclamation-circle'></i></a>
                    </li>
                    <!---
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#">اصناف العروض <i class='fas fa-folder-open'></i></a>
                    </li>
                     -->
                   
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="/">الرئيسية   <i class='fas fa-home'></i><span class="sr-only">(current)</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row" style="min-height:550px;">
            @RenderBody()
        </div>
    </div>
   
    <footer class="footer mt-5">
        <div class="container" dir="rtl">
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fas fa-question-circle"></i> من نحن ؟ </h3>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h3><i class="fas fa-globe"></i> روابط هام </h3>

                    <ul>
                        <li><a href="#">وظائف القطاع العام</a></li>
                        <li><a href="#">وظائف القطاع الخاص</a></li>
                        <li><a href="#">وظائف خارج البلاد</a></li>
                        <li><a href="#">وظائف متنوعة</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3><i class="fas fa-envelope"></i> تواصل معانا </h3>
                    <ul>
                        <li><a href="#">صفحتنا على فيسبوك</a></li>

                        <li><a href="#">صفحتنا على Linkdin</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="copy-right">
            <p>جميع الحقوق المحفوظة لموقع التوظيف 2018</p>
        </div>


    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    @RenderSection("scripts",required:false)

</body>
</html>
